﻿@model TesseractServer.ViewModels.TesseractResultBusLineViewModel

@{
    ViewBag.Title = $"Autobus: {Model.BusLineSygnature}";
}

@using (Html.BeginForm())
{
     if (!String.IsNullOrEmpty(Model.RelativePath))
     {
         @Html.Partial("_ImageView", Model);
     }
    
    <h1>@Html.LabelFor(viewModel => viewModel.MeanConfidence) @Model.MeanConfidence</h1>
    <h1>@Html.LabelFor(viewModel => viewModel.Result) @Model.Result</h1>                                                               
    <h2>@Html.LabelFor(viewModel => viewModel.BusLineSygnature) @Model.BusLineSygnature</h2>
    <h2>@Html.LabelFor(viewModel => viewModel.Stops)</h2>

    foreach (var stop in Model.Stops)
    {
        <p>@Html.DisplayFor(model => stop)</p>
    }

}
