﻿@model TesseractServer.ViewModels.UploadImageViewModel
@{
    ViewBag.Title = "Image";
}

<h2>Upload</h2>

@using (Html.BeginForm("ProcessImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{  
    @Html.Label("Upload Image:")
    @Html.TextBoxFor(m => m.File, new { type = "file" })
    @*<label for="file">Upload Image:</label>
    <input type="file" name="file" value="Browse" id="file" style="width: 100%;" /> *@
    <input type="submit" value="Upload" />
}

@if (ViewBag.UploadSuccess == true)
{
    <span>Upload Competed Successfully</span>
}
